{# Services Extension #}


{% setcontent Services = "services/latest/3" %}
{% if Services %}

<section id="services" class="emerald" style="padding: 50px 0;">
	<div class="container">
		<div class="row">

		{% for Service in Services %}
		
		
			<div class="col-md-4 col-sm-6">
				<div class="media">
				
					<div class="pull-left">
						<div class="icon-md">
						{% if Service.contentlink %}
							<a href="{{ relative_path(Service.contentlink|e) }}" target="_blank">
							<img style="height: 44px; width: 44px;" src="{{ Service.image|thumbnail(480, 480) }}" alt="&#13;{{ Service.title }} &#10; img">
							</a>
						{% else %}
							<a style="cursor: default;">
							<img style="height: 44px; width: 44px;" src="{{ Service.image|thumbnail(480, 480) }}" alt="&#13;{{ Service.title }} &#10; img">
							</a>
						{% endif %}
						</div>
					</div>
					<div class="media-body">
						{% if Service.contentlink %}
							<a href="{{ relative_path(Service.contentlink|e) }}" target="_blank"><h3 class="media-heading" data-bolt-field="title">{{ Service.title }}</h3></a>
						{% else %}	
							<a style="cursor: default;"><h3 class="media-heading" data-bolt-field="title">{{ Service.title }}</h3></a>
						{% endif %}
						<p>{{ Service.text }}</p>

					</div>
				</div>
				
			</div><!--/.col-md-4-->
			
			<script>
				//document.getElementsByClassName("icon-md").classList.add('icon-twitter');
			</script>
		{% endfor %}
		
		
		</div>
	</div>
</section><!--/#services-->
{% endif %}
